<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="WcfClient.BindingName" value="BaseClientBinding" />
    <add key="WcfClient.DnsIdentity" value="AppFabric Administration Services" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="AppFabric.Admin.Common" />
    <assembly name="GalaSoft.MvvmLight.WPF45" />
    <assembly name="AppFabric.Admin.Clients.Common" />
    <assembly name="AppFabric.Admin.Clients.Desktop" />
    <namespace name="AppFabric.Admin.Common.Configuration" />
    <namespace name="GalaSoft.MvvmLight" />
    <namespace name="AppFabric.Admin.Clients.Common" />
    <namespace name="AppFabric.Admin.Clients.Desktop.ViewModel" />
    <container>
      <register type="ConfigurationManagerBase" mapTo="PerUserRoamingAndLocalConfigurationManager" name="PerUserRoamingAndLocal">
        <lifetime type="singleton" />
      </register>
      <register type="ViewModelBase" mapTo="MainViewModel" name="MainViewModel">
        <lifetime type="singleton" />
      </register>
      <register type="ViewModelBase" mapTo="HelpViewModel" name="HelpViewModel">
        <lifetime type="singleton" />
      </register>
      <register type="IEnvironmentService" mapTo="ConfigurationEnvironmentService">
        <lifetime type="singleton" />
      </register>
      <register type="IAdministrationServiceClient" mapTo="AdministrationServiceClient">
        <lifetime type="perresolve" />
      </register>
    </container>
  </unity>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BaseClientBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="8388608">
          <reliableSession enabled="true" inactivityTimeout="00:05:00" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kent.Boogaart.HelperTrinity" publicKeyToken="cc96fa93a217f7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>