<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
     <sectionGroup name="appfabric.admin">
       <section name="roleMap" type="AppFabric.Admin.Common.Security.Configuration.RoleMapConfigurationSection, AppFabric.Admin.Common"/>
       <section name="performancesCounters" type="AppFabric.Admin.Service.DataAccess.Configuration.PerformanceCountersSection, AppFabric.Admin.Service.DataAccess"/>
     </sectionGroup>        
     <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
     <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
     <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </configSections>

  <appfabric.admin>
    <roleMap>
      <roles>
        <add name="Administrators">
          <mapTo>
            <add name="Architect" />
          </mapTo>
        </add>
        <add name="Users">
          <mapTo>
            <add name="Architect" />
          </mapTo>
        </add>
      </roles>
    </roleMap>
    <performancesCounters>
      <hostsCounters>
        <add name="% Processor Time" category="Processor Information" instance="_Total" />
        <add name="Total Client Requests /sec" category="AppFabric Caching:Host" />
        <add name="Total Data Size Bytes" category="AppFabric Caching:Host" />
      </hostsCounters>
      <namedCacheCounters>
        <add name="Total Object Count" />
        <add name="Total Client Requests" />
        <add name="Total Write Operations" />
      </namedCacheCounters>
    </performancesCounters>
  </appfabric.admin>
  
   <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="AppFabric.Admin.Common" />
    <assembly name="AppFabric.Admin.Service.BusinessLogic" />
    <assembly name="AppFabric.Admin.Service.DataAccess" />
    <namespace name="AppFabric.Admin.Common.Configuration" />
    <namespace name="AppFabric.Admin.Service.BusinessLogic.Interfaces" />
    <namespace name="AppFabric.Admin.Service.BusinessLogic" />
    <namespace name="AppFabric.Admin.Service.DataAccess.Interfaces" />
    <namespace name="AppFabric.Admin.Service.DataAccess" />
    <container>
      <register type="ConfigurationManagerBase" mapTo="LocalConfigurationManager" name="Local">
        <lifetime type="singleton" />
      </register>
      <register type="ICachingAdminBusiness" mapTo="CachingAdminBusiness">
        <lifetime type="singleton" />
      </register>
      <register type="ICachingSearchBusiness" mapTo="CachingSearchBusiness">
        <lifetime type="singleton" />
      </register>
      <register type="ICachingReportingBusiness" mapTo="CachingReportingBusiness">
        <lifetime type="singleton" />
      </register>
      <register type="ICachingAdminDataRepository" mapTo="PSCachingAdminDataRepository">
        <lifetime type="singleton" />
      </register>
      <register type="ICachingStatisticsRepository" mapTo="PerformanceCountersRepository">
        <lifetime type="singleton" />        
      </register>
    </container>
  </unity>
  
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="false">
    <targets>
      <target xsi:type="File" name="fileLogger" fileName="D:/logs/appfabricadmin-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fileLogger" />
    </rules>
  </nlog>


  <connectionStrings>
    <add name="ADService" connectionString="LDAP://cdbdx.biz" />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="ActiveDirectoryMembershipProvider" >
      <providers>
        <clear/>
        <add name="ActiveDirectoryMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ADService"/>
      </providers>
    </membership>
    <roleManager defaultProvider="ActiveDirectoryMapRoleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="ActiveDirectoryMapRoleProvider" type="AppFabric.Admin.Common.Security.ActiveDirectoryMapRoleProvider, AppFabric.Admin.Common"/>
      </providers>
    </roleManager>
  </system.web>
  
   <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="unhandledException" type="AppFabric.Admin.Common.Behaviors.UnhandledExceptionElement, AppFabric.Admin.Common" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <unhandledException />
          <serviceCredentials>
            <serviceCertificate findValue="AppFabric Administration Services" storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName" />
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="ActiveDirectoryMembershipProvider" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="ActiveDirectoryMapRoleProvider" impersonateCallerForAllOperations="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="defaultWsHttpBindingConfiguration">
          <reliableSession enabled="true" inactivityTimeout="00:05:00" />
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="AppFabric.Admin.Service.ServiceImplementation.CachingAdministrationService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/AdminService.svc" />
          </baseAddresses>
        </host>
        <endpoint contract="AppFabric.Admin.Service.ServiceContracts.IAdministrationService" binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBindingConfiguration" bindingNamespace="http://appcacheadminservice.codeplex.com/Services" />
      </service>
    </services>
  </system.serviceModel>

   <dataCacheClient>
      <securityProperties mode="None" protectionLevel="None" />
      <hosts>
         <host name="fdg-274.cdbdx.biz" cachePort="22233"/>
      </hosts>
  </dataCacheClient>
    
   <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="Microsoft.PowerShell.Security" fullName="Microsoft.PowerShell.Security, Version=3.0.0.0, publicKeyToken=31bf3856ad364e35, Culture=neutral"/>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.ApplicationServer.Caching.Client.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.Server" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.ApplicationServer.Caching.Server.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.Management" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.ApplicationServer.Caching.Management.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.ManagementPS" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\PowershellModules\DistributedCacheAdministration\Microsoft.ApplicationServer.Caching.ManagementPS.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.ApplicationServer.Caching.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsFabric.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.WindowsFabric.Common.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsFabric.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.WindowsFabric.Data.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsFabric.Data.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.WindowsFabric.Data.Common.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsFabric.Federation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="1.0.0.0" href="C:\Program Files\AppFabric 1.1 for Windows Server\Microsoft.WindowsFabric.Federation.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>